.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverImageContainer {
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding-x);
}

.coverImage {
  display: block;
}

.projectBody {
  width: 100%;
  font-size: 1.125rem;
  max-width: 42em;
  padding: 0 var(--content-padding-x);
}

.projectImages {
  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding-x);
}
