.cardImageContainer {
  position: relative;
  height: 0%;
  overflow: hidden;
  min-height: 150px;
  height: 100%;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cardInfoContainer {
  /*border: 1px solid magenta;*/
  overflow: hidden;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.cardInfoMetadata {
  /*border: 1px solid magenta;*/
  max-width: max-content;
}

.cardTitle {
  /*border: 1px solid magenta;*/
  font-family: var(--font-display);
  line-height: 1.1;
  font-size: min(max(1.5rem, 3vw), 1.75rem);
}

/* CARDS */

.cardRoot {
  border: 2px solid var(--color-neutral-200);
  border-radius: 1rem;
  overflow: hidden;

  &:hover {
    background: var(--color-green-100);
    border-color: var(--color-green-200);
  }
}

.cardSplit {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  --section-one-width: 50%;
  --section-one-min-width: 200px;
  --section-two-width: min(200px, 50%);
  --section-two-min-width: 200px;
}

.cardSplit_sectionOne {
  position: relative;
  flex-grow: 1;
  flex-basis: var(--section-one-width);
  flex-shrink: 0;
  min-width: min(var(--section-one-min-width), 100%);
  /*max-width: 200px;*/
}

.cardSplit_sectionTwo {
  position: relative;
  flex-basis: var(--section-two-width);
  flex-grow: 1;
  flex-shrink: 0;
  min-width: min(var(--section-two-min-width), 100%);
  /*max-width: 100%;*/
}
