.root {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
}

.underConstruction {
	padding: 1rem 2rem;
	background: #efefef;
	border-radius: 999px;
}

.soonMessage {
	color: #666;
	text-align: center;
}
