.volunteerOpportunities {
  background: var(--yellow-primary-faded);
}

.volunteerOpportunities_contents {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 4rem var(--content-padding-x);
}

.volunteerOpportunities_heading {
  font-family: var(--font-display);
  font-size: 2.25rem;
  text-align: center;
}

.volunteerOpportunities_text {
  font-size: 1.125rem;
  margin: 0 auto;
  max-width: 36em;
  text-align: center;
}
