/* CONNECT WITH US */

.connectWithUs_contents {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 3rem var(--content-padding-x) 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connectWithUs_heading {
  font-family: var(--font-display);
  font-size: 2.25rem;
  text-align: center;
}

.connectWithUs_text {
  font-size: 1.125rem;
  margin: 0 auto;
  max-width: 36em;
  text-align: center;
}

.connectWithUs_button_iconAndText {
  display: flex;
  gap: 12px;
  min-height: 32px;
  align-items: center;
}

.connectWithUs_button_icon {
  display: block;
  width: 24px;
  height: 24px;
}

/* VOLUNTEER OPPORTUNITIES */

.volunteerOpportunities {
  /*background: var(--yellow-primary-faded);*/
  background: var(--green-faded);
}

.volunteerOpportunities_contents {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 3rem var(--content-padding-x) 0rem 0;
}

.volunteerOpportunities_heading {
  font-family: var(--font-display);
  font-size: 2.25rem;
  text-align: center;
}

.volunteerOpportunities_text {
  font-size: 1.125rem;
  margin: 0 auto;
  max-width: 36em;
  text-align: center;
}
