.splitImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.hideOverflow {
  width: 100%;
  overflow: hidden;
}

.stripeBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--green-faded);
  border-radius: 16px;
}

.stripeHeading {
  padding: 1rem 1rem 1rem 2rem;
  font-family: var(--font-display);
  line-height: 1.2;
}

.children {
  padding: 1rem;
}
