.root {
  max-width: var(--content-max-width);
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;

  @media (min-width: 700px) {
    flex-direction: row;
  }

  &.flipOrder {
    @media (min-width: 700px) {
      flex-direction: row-reverse;
    }
  }
}

.firstSection {
  flex-basis: 50%;
  flex-grow: 1;
}

.secondSection {
  flex-basis: 50%;
  flex-grow: 1;
}
