.root {
	background: var(--white);
	padding: 3rem 1.5rem;
	container-type: inline-size;
	border: 1px solid magenta;
}

.content {
	margin: 0 auto;
	display: flex;
	max-width: var(--content-max-width);
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.textContent {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: 1px solid magenta;
	text-align: center;
	max-width: 35rem;
}

.heading {
	border: 1px solid magenta;
}

.text {
	border: 1px solid magenta;
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid magenta;
	width: 100%;
	justify-content: center;
	gap: 0.5rem;
}

.sponsorLogo {
	border: 1px solid magenta;
	width: 180px;
	height: 70px;
}
