.categoriesList {
	display: flex;
	list-style: none;
	gap: 8px;
	padding: 1rem;
	justify-content: center;
	border: 1px solid magenta;
}

.categoryLink {
	text-decoration: none;
	&.isActive {
		text-decoration: underline;
	}
}

.noEntries {
	text-align: center;
	border: 1px solid magenta;
	padding: 1rem;
}

.blogEntriesList {
	text-align: center;
	border: 1px solid magenta;
	list-style: none;
	padding: 1rem;
}
