.root {
	background: var(--green-faded);
}

.content {
	padding: 40px 1rem 80px 1rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 32px;
	flex-wrap: wrap;
	width: 100%;
	max-width: var(--content-max-width);
	margin: 0 auto;
}

.list {
	display: flex;
	padding: 0;
	list-style: none;
	gap: 1rem;
}

.iconAndText {
	display: flex;
	gap: 16px;
	min-height: 32px;
	align-items: center;
}

.buttonIcon {
	border: 1px solid magenta;
	display: block;
	width: 24px;
	height: 24px;
}
