.root {
	border: 1px solid magenta;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
	flex-wrap: wrap;
}

.list {
	display: flex;
	padding: 0;
	list-style: none;
	gap: 1rem;
}
