.root {
	isolation: isolate;
}

.navList {
	--nav-secondary-color: var(--green-faded);
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: center;
	list-style: none;
	padding: 0 0 16px 0;
	border-bottom: 4px solid var(--yellow-primary);
}
