.blogMetadataContainer {
  margin: 0 auto;
  padding: 3rem var(--content-padding-x) 0;
  max-width: var(--content-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitleContainer {
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding-x);
  margin: 0.5em auto 2em;
}

.coverImageContainer {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding-x);
}

.coverImage {
  display: block;
  width: 100%;
}

.blogBody {
  font-size: 1.125rem;
  max-width: 40em;
  margin: 0 auto;
  padding: 0 var(--content-padding-x) 8rem;
}
